<h1>家庭成员体重记录表</h1>
<div data-no-turbolink><%= link_to '添加新记录', new_weight_record_path %></div>
<table>
  <thead>
    <tr>
      <th>人员</th>
      <th>测量日期</th>
      <th>体重</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weight_records.each do |weight_record| %>
      <tr>
        <!-- <td><%= weight_record.person_id %></td> -->
        <td><%= weight_record.person["chinesename"] %></td>
        <td><%= weight_record.test_datetime %></td>
        <td><%= weight_record.weight %> <strong>KG</strong> </td>
        <td><%= link_to 'Show', weight_record %></td>
        <td data-no-turbolink><%= link_to 'Edit', edit_weight_record_path(weight_record) %></td>
        <td><%= link_to 'Destroy', weight_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @weight_records %>
